<main role="main" class="container">
    <div class="row">
        <div style="padding-bottom: 2cm;" class="col-12">
            <h1 style="text-align:center;"class="font-weight-bold">Stats</h1>
        </div>
    </div>
    <div class="row">

    </div>
    <div class="row">
  
        <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Original:</th>
      <th scope="col">Shortened:</th>
      <th scope="col">Redirected (Times):</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>{{data.original}}</td>
      <td>{{data.nuevo}}</td>
      <td>{{data.redir}}</td>
    </tr>

  </tbody>
</table>
    </div>
</main>